@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;

400;700&family=Open+Sans&display=swap");
@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/GothamBlack.woff") format("woff"), url("../fonts/GothamBlack.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Open+Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Open+Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  white-space: nowrap;
  padding: 17px 43px;
  border-radius: 2px;
  background-color: #ffbb42;
  color: #fff;
}

.btn:hover {
  background-color: #fff;
  border: 1px solid #cbcbcb;
  color: #a9a9a9;
}

.btn.fw {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  margin: 0px 10px 0px 0px;
  font-size: 13px;
  color: #a9a9a9;
  display: block;
  padding: 18px 35px;
  border: solid 1px #cbcbcb;
}

.input.focus {
  -webkit-box-shadow: 0px 0px 1px #333333;
          box-shadow: 0px 0px 1px #333333;
}

.input.err {
  color: red;
  border: 1px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.form__input-one {
  background: url("/img/icon/user.svg") 15px 50%/13px 15px no-repeat;
}

.form__input-two {
  background: url("/img/icon/envelope.svg") 15px 50%/16px 13px no-repeat;
}

.form__input-three {
  background: url("/img/icon/telephone.svg") 15px 50%/13px 14px no-repeat;
}

.form__error {
  position: absolute;
  top: 55px;
  left: 10px;
  font-size: 13px;
  color: red;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

.graystyle {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
}

.graystyleoff {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.slick-slider .slick-slide {
  position: relative;
  margin: 0px auto;
}

.slick-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-slider .slick-dots li {
  list-style: none;
  margin: 15px 5px 0px 5px;
}

.slick-slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #333333;
  background-color: rgba(255, 255, 255, 0.445);
}

.slick-slider .slick-dots li button:hover {
  background-color: #fff;
}

.slick-slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #1ca8dd;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0px;
}

.header__logo {
  z-index: 2;
  margin-right: 313px;
  background-color: #fff;
  border-radius: 15px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-family: "Lato";
  font-size: 14px;
  color: #868686;
  padding: 12px 16.5px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-radius: 2px;
  background-color: #ffbb42;
  color: #ffffff;
}

.icon-menu {
  display: none;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__badges {
  margin: 30px 0px 53px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.footer__call {
  font-family: "Lato";
  font-size: 22px;
  line-height: 1.09;
  color: #394b50;
  margin-bottom: 23px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__call:hover .footer__phone {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: #ffc155;
}

.footer__phone {
  fill: #394b50;
  width: 16px;
  height: 16px;
}

.footer__icon {
  fill: #709dca;
  width: 16px;
  height: 16px;
  margin: 0px 7.5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__icon:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  fill: #ffc155;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__terms {
  width: 100%;
  padding: 17px 0px;
  text-align: center;
  font-size: 13px;
  line-height: 1.85;
  color: #ffffff;
  background-color: #709dca;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mein__screen {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  background-color: #709dca;
}

.fullscrin {
  margin-top: -500px;
}

.fullscrin__title {
  text-align: center;
  color: #ffffff;
  margin-bottom: 33px;
}

.fullscrin__forms {
  margin-bottom: 67px;
}

.fullscrin-title {
  font-family: "Gotham";
  font-size: calc(27px + 8 * ((100vw - 320px) / 850));
  font-weight: 900;
  letter-spacing: -0.88px;
  transform: translate3d(14%, 0px, 0px);
  -webkit-transform: translate3d(14%, 0px, 0px);
  -ms-transform: translate3d(14%, 0px, 0px);
  -o-transform: translate3d(14%, 0px, 0px);
  -moz-transform: translate3d(14%, 0px, 0px);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
}

.fullscrin-title._active {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
}

.fullscrin-text {
  transform: translate3d(-14%, 0px, 0px);
  -webkit-transform: translate3d(-14%, 0px, 0px);
  -ms-transform: translate3d(-14%, 0px, 0px);
  -o-transform: translate3d(-14%, 0px, 0px);
  -moz-transform: translate3d(-14%, 0px, 0px);
  -webkit-transition: all 0.8s ease 0.5s;
  -o-transition: all 0.8s ease 0.5s;
  transition: all 0.8s ease 0.5s;
  opacity: 0;
  font-size: calc(13px + 3 * ((100vw - 320px) / 850));
  font-weight: 300;
  line-height: 1.5;
}

.fullscrin-text._active {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
}

.fullscrin-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  position: relative;
}

.title {
  line-height: 1.38;
  color: #394b50;
  font-family: "Gotham";
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -0.75px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  line-height: 1.38;
  color: #394b50;
}

.icon {
  width: 84px;
  height: 84px;
  display: block;
  fill: #709dca;
  padding: 0px 0px 0px 1.5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.iconr {
  width: 150px;
  height: 150px;
}

.servis {
  margin: 105px 0px 76px 0px;
}

.servis__titles {
  text-align: center;
  transform: translate3d(0px, 15%, 0px);
  -webkit-transform: translate3d(0px, 15%, 0px);
  -ms-transform: translate3d(0px, 15%, 0px);
  -o-transform: translate3d(0px, 15%, 0px);
  -moz-transform: translate3d(0px, 15%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.servis__titles._active {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.servisslider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin-top: 93px;
}

.servisslider__item {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 47px;
  cursor: default;
}

.servisslider__item._active {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.servisslider__item:hover {
  -ms-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.servisslider__item:hover .icon {
  fill: #f6772c;
}

.servisslider .slick-track {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -47px;
}

.servisslider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servisslider .slick-dots li {
  list-style: none;
  margin: 5px 5px 0px 5px;
}

.servisslider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #333333;
  background-color: rgba(255, 255, 255, 0.445);
}

.servisslider .slick-dots li button:hover {
  background-color: #fff;
}

.servisslider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #1ca8dd;
}

.item__body {
  margin-left: 23px;
  margin-bottom: 79px;
}

.item__title {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  color: #394b50;
  margin-bottom: 21px;
}

.item__text {
  font-size: 13px;
  line-height: 1.69;
  color: #7b7b7b;
}

.about {
  overflow: hidden;
}

.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.about__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.about__column:nth-child(1) {
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -ms-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
  -moz-transform: translate3d(-50%, 0px, 0px);
}

.about__column:nth-child(1)._active {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.about__column:nth-child(2) {
  transform: translate3d(50%, 0px, 0px);
  -webkit-transform: translate3d(50%, 0px, 0px);
  -ms-transform: translate3d(50%, 0px, 0px);
  -o-transform: translate3d(50%, 0px, 0px);
  -moz-transform: translate3d(50%, 0px, 0px);
}

.about__column:nth-child(2)._active {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.about__body {
  background-color: #ffc155;
  padding: 164px 267px 174px 80px;
}

.about__title {
  font-family: "Gotham";
  font-size: 30px;
  font-weight: 900;
  line-height: 0.73;
  letter-spacing: -0.75px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.about__text {
  font-size: 13px;
  line-height: 1.85;
  color: #ffffff;
  text-align: justify;
  margin-bottom: 33px;
}

.about__btn {
  font-family: "Lato";
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 2px;
  border: solid 1px #e7ad48;
  padding: 17px 32px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about__btn:hover {
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border: solid 2px #e7ad48;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  color: #7b7b7b;
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card {
  background-color: #e7edf3;
  text-align: center;
  padding: 137px 0px 164px 0px;
}

.card__titles {
  margin-bottom: 79px;
  transform: translate3d(0px, 15%, 0px);
  -webkit-transform: translate3d(0px, 15%, 0px);
  -ms-transform: translate3d(0px, 15%, 0px);
  -o-transform: translate3d(0px, 15%, 0px);
  -moz-transform: translate3d(0px, 15%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.card__titles._active {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__item {
  border-radius: 3px;
  border: solid 1px #ccd5df;
  background-color: #ffffff;
  padding: 48px 129px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.card__item:hover {
  background-color: #709dca;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__item:hover .card__plan,
.card__item:hover .card__month,
.card__item:hover .card__prais {
  color: #fff;
}

.card__item:hover .card__list {
  color: #c2e1ff;
}

.card__item._active {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.card__plan {
  white-space: nowrap;
  font-family: "Lato";
  font-size: 25px;
  font-weight: 300;
  color: #818b95;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.card__prais {
  display: block;
  font-family: "Lato";
  font-size: 60px;
  font-weight: 700;
  color: #ffbb42;
  line-height: 1.1;
}

.card__prais sup {
  font-size: 20px;
}

.card__month {
  white-space: nowrap;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 300;
  color: #818b95;
  text-transform: uppercase;
}

.card__list {
  margin-top: 30px;
  font-family: "Lato";
  font-size: 14px;
  color: #b5bbc1;
  margin-bottom: 35px;
  text-align: center;
}

.card__link {
  white-space: nowrap;
  padding: 20px 0px;
}

.card__link::after {
  content: "";
  display: block;
  margin: -25px auto 0 auto;
  width: 100%;
  height: 1px;
  background-color: #e2e9f0;
}

.card__btn {
  white-space: nowrap;
  font-family: "Lato";
  font-size: 14px;
  color: #ffffff;
  background-color: #ffbb42;
  border-radius: 2px;
  padding: 16px 21px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card__btn:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  color: #b5bbc1;
}

.cardslider {
  display: none;
}

.step {
  padding: 156px 0px 150px 0px;
  text-align: center;
  overflow: hidden;
}

.step__titles {
  margin-bottom: 80px;
  transform: translate3d(0px, 15%, 0px);
  -webkit-transform: translate3d(0px, 15%, 0px);
  -ms-transform: translate3d(0px, 15%, 0px);
  -o-transform: translate3d(0px, 15%, 0px);
  -moz-transform: translate3d(0px, 15%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.step__titles._active {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.step__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  margin: 0px -44px 93px -44px;
}

.step__column {
  transform: translate3d(0px, 15%, 0px);
  -webkit-transform: translate3d(0px, 15%, 0px);
  -ms-transform: translate3d(0px, 15%, 0px);
  -o-transform: translate3d(0px, 15%, 0px);
  -moz-transform: translate3d(0px, 15%, 0px);
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0 44px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.step__column._active {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.step__column:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.step__column:hover .icon {
  fill: #f6772c;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.step__column:hover .step__body {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.step__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.step__body {
  text-align: center;
}

.step__arrow {
  position: absolute;
  top: 0;
  left: 80%;
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
}

.step__arrow._active {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.step__arrow-c {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s ease 0.5s;
  -o-transition: all 0.5s ease 0.5s;
  transition: all 0.5s ease 0.5s;
  top: 20%;
}

.step__arrow-c._active {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -ms-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.step__body-title {
  margin-bottom: 25px;
  font-family: "Lato";
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  color: #394b50;
  text-transform: uppercase;
}

.step__body-text {
  font-size: 13px;
  line-height: 1.69;
  color: #7b7b7b;
}

.step__btn {
  font-family: "Lato";
  font-size: 14px;
  color: #ffffff;
  border-radius: 2px;
  background-color: #ffbb42;
  padding: 17px 28px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.step__btn:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #394b50;
  background-color: #fff;
  border: 1px solid #394b50;
}

.clients {
  overflow: hidden;
  padding: 141px 0px 160px 0px;
  background-color: #ffc155;
}

.clients__titles {
  text-align: center;
  margin-bottom: 58px;
  transform: translate3d(0px, 15%, 0px);
  -webkit-transform: translate3d(0px, 15%, 0px);
  -ms-transform: translate3d(0px, 15%, 0px);
  -o-transform: translate3d(0px, 15%, 0px);
  -moz-transform: translate3d(0px, 15%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.clients__titles._active {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.clients__title {
  color: #fff;
}

.clients__subtitle {
  color: #fff;
}

.clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.clients__column {
  margin: 0px 36px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  background-color: #fff;
  padding: 43px 41px 51px 17px;
}

.clients__column:nth-child(2),
.clients__column:nth-child(4) {
  margin: 0px 0px 10px 0px;
}

.clients__column:nth-child(1),
.clients__column:nth-child(3) {
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -ms-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
  -moz-transform: translate3d(-50%, 0px, 0px);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.clients__column:nth-child(1)._active,
.clients__column:nth-child(3)._active {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.clients__column:nth-child(2),
.clients__column:nth-child(4) {
  transform: translate3d(50%, 0px, 0px);
  -webkit-transform: translate3d(50%, 0px, 0px);
  -ms-transform: translate3d(50%, 0px, 0px);
  -o-transform: translate3d(50%, 0px, 0px);
  -moz-transform: translate3d(50%, 0px, 0px);
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.clients__column:nth-child(2)._active,
.clients__column:nth-child(4)._active {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.clients__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 121px;
          flex: 0 0 121px;
  border-radius: 50%;
  padding: 0px 13px;
}

.clients__text {
  font-size: 13px;
  line-height: 1.69;
  color: #7b7b7b;
  margin-bottom: 29px;
}

.clients__subtext {
  font-family: "Lato";
  font-size: 14px;
  line-height: 1.57;
  color: #99a9ae;
  text-transform: uppercase;
}

.clients__subtext span {
  color: #f6772c;
}

.clientsslider {
  display: none;
}

.addres {
  text-align: center;
  padding: 154px 0px 120px 0px;
}

.addres__titles {
  margin-bottom: 38px;
  transform: translate3d(0px, 15%, 0px);
  -webkit-transform: translate3d(0px, 15%, 0px);
  -ms-transform: translate3d(0px, 15%, 0px);
  -o-transform: translate3d(0px, 15%, 0px);
  -moz-transform: translate3d(0px, 15%, 0px);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.addres__titles._active {
  transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  opacity: 1;
}

.addres__item {
  position: relative;
  padding: 0px 0px 48% 0px;
}

.addres__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e3e7ec;
  bottom: -57px;
  left: 0;
}

.addres__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.addres__map {
  transform: translate3d(-50%, -50%, 0px);
  -webkit-transform: translate3d(-50%, -50%, 0px);
  -ms-transform: translate3d(-50%, -50%, 0px);
  -o-transform: translate3d(-50%, -50%, 0px);
  -moz-transform: translate3d(-50%, -50%, 0px);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}

.addres__list {
  border-radius: 50%;
  border: solid 3px #ffffff;
  background-color: #394b50;
  padding: 65px 68px 80px 68px;
  margin-bottom: 12px;
}

.addres__list::after {
  content: "";
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate3d(-50%, 0px, 0px);
  -webkit-transform: translate3d(-50%, 0px, 0px);
  -ms-transform: translate3d(-50%, 0px, 0px);
  -o-transform: translate3d(-50%, 0px, 0px);
  -moz-transform: translate3d(-50%, 0px, 0px);
  width: 0;
  height: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #394b50;
}

.addres__logo {
  -webkit-animation: collecting 3s ease infinite;
          animation: collecting 3s ease infinite;
}

.addres__tlink {
  font-family: "Lato";
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 5px;
}

.addres__link {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 13px;
  line-height: 1.85;
  color: #aeb7ba;
}

.addres__link:hover {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #ffbb42;
}

@-webkit-keyframes collecting {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes collecting {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (max-width: 1335px) {
  .card__item {
    padding: 48px 110px;
  }
}

@media (max-width: 1215px) {
  .card__item {
    padding: 48px 95px;
  }
}

@media (max-width: 1190px) {
  .header__logo {
    margin-right: 213px;
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1165px) {
  .about__body {
    padding-right: 150px;
  }
}

@media (max-width: 1113px) {
  .menu__link {
    padding: 12px 14px;
  }
}

@media (max-width: 1050px) {
  .card__item {
    padding: 48px 85px;
  }
}

@media (max-width: 1033px) {
  .header__logo {
    margin-right: 150px;
  }
}

@media (max-width: 995px) {
  .input {
    margin: 15px 0px;
  }

  .form__error {
    top: 60px;
    left: 5px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #709dca;
    padding: 25px 0px 0px 0px;
    transform: translate3d(0px, -100%, 0px);
    -webkit-transform: translate3d(0px, -100%, 0px);
    -ms-transform: translate3d(0px, -100%, 0px);
    -o-transform: translate3d(0px, -100%, 0px);
    -moz-transform: translate3d(0px, -100%, 0px);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__body.active {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list li {
    padding: 15px 0px;
  }

  .menu__link {
    color: #ffffff;
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 35px;
    right: 25px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #868686;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 8px;
    background-color: #fff;
  }

  .icon-menu.active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 8px;
    background-color: #fff;
  }

  .fullscrin-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .card__item {
    padding: 48px 75px;
  }

  .step__arrow {
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    left: 70%;
  }

  .step__arrow-c {
    display: none;
  }

  .clientsslider {
    display: block;
  }

  .clientsslider .clients__column {
    margin: 0 15px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 975px) {
  .iconr {
    width: 84px;
    height: 84px;
  }

  .servisslider__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .servisslider .slick-track {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px;
  }

  .servisslider .slick-track .slick-active .icon {
    -webkit-transition: all 0.3s ease 0.5s;
    -o-transition: all 0.3s ease 0.5s;
    transition: all 0.3s ease 0.5s;
    fill: #f6772c;
  }

  .servisslider {
    display: block;
  }

  .item__body {
    text-align: center;
    margin-bottom: 15px;
  }
}

@media (max-width: 965px) {
  .cardslider {
    display: block;
  }
}

@media (max-width: 955px) {
  .about__body {
    padding: 95px 100px 85px 65px;
  }
}

@media (max-width: 845px) {
  .step__row {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin: 0px 0px 60px 0px;
  }

  .step__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 22px 22px;
  }

  .step__icon {
    margin-bottom: 55px;
  }

  .step__arrow {
    left: 85%;
  }
}

@media (max-width: 820px) {
  .about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item {
    height: auto;
    padding: 0px 0px 73% 0px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 670px) {
  .mainslider {
    display: none;
  }

  .servis {
    margin: 205px 0px 76px 0px;
  }

  .servisslider {
    margin-top: 45px;
  }
}

@media (max-width: 645px) {
  .step__arrow {
    left: 80%;
  }
}

@media (max-width: 545px) {
  .step__arrow {
    left: 75%;
  }

  .clients__column {
    padding: 23px 21px 31px 15px;
  }

  .addres__list {
    padding: 45px 48px 50px 48px;
  }

  .addres__list::after {
    top: 80%;
  }
}

@media (max-width: 490px) {
  .item__title {
    margin-bottom: 5px;
  }
}

@media (max-width: 455px) {
  .clients__column {
    padding: 20px 18px 25px 10px;
  }
}

@media (max-width: 445px) {
  .step__arrow {
    left: 70%;
  }
}

@media (max-width: 430px) {
  .clients__column {
    display: block;
  }

  .clients__img {
    margin-bottom: 5px;
  }
}

@media (max-width: 412px) {
  .addres__list {
    padding: 25px 28px 30px 28px;
  }

  .addres__list::after {
    top: 75%;
  }
}

@media (max-width: 400px) {
  .about__body {
    padding: 45px 50px 55px 45px;
  }
}

@media (max-width: 345px) {
  .step__arrow {
    left: 60%;
    top: -5px;
  }
}
@supports (-webkit-appearance:none){
.form__input-one{background:url("/img/icon/user.svg") 15px 50%/13px 15px no-repeat}
.form__input-two{background:url("/img/icon/envelope.svg") 15px 50%/16px 13px no-repeat}
.form__input-three{background:url("/img/icon/telephone.svg") 15px 50%/13px 14px no-repeat}
}

 @media (max-width: 1335px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1215px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1190px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1182px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1165px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1113px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1050px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1033px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 995px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 975px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 965px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 955px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 845px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 820px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 670px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 645px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 545px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 490px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 455px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 445px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 430px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 412px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 345px){

@supports (-webkit-appearance:none){

}

}
